

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Логотип */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    width: 50px;
    height: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text text {
    font-size: 16px;
    color: var(--textColor);
    font-weight: 800;
}

/* Offcanvas меню для мобильных устройств */
.full-screen-menu .offcanvas {
    width: 100% !important;
    height: 100% !important;
    background-color: #fff;
}

.full-screen-menu .offcanvas-header {
    border-bottom: 1px solid #ddd;
}

.full-screen-menu .menu-item {
    font-size: 18px;
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
    padding: 10px 0;
}

/* Кнопка для мобильных устройств */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Навигация для больших экранов */
.d-lg-flex {
    justify-content: flex-end;
    gap: 20px;
}

.menu-item {
    font-size: 16px;
    font-weight: 500;
    color: var(--textColor);
    text-decoration: none;
}

.menu-item:hover {
    color: var(--footerColor);
    text-decoration: none;
}

/* Скрываем Offcanvas на больших экранах */
.d-lg-none {
    display: none !important;
}

@media (max-width: 992px) {
    .menu-item {
        font-size: 16px;
    }
    .d-lg-none {
        display: block !important;
    }
    .d-lg-flex {
        display: none !important;
    }
}
